#title {
  position: absolute;
  width: 86%;
  height: 100%;
  margin-left: 6%;
  margin-right: 6%;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.left-panel {
  position: relative;
  flex: 1;
  /* Re-enable pointer events for title/text area only */
  pointer-events: all;
  /* Make it hug content so it doesn't block canvas */
  width: fit-content;
  max-width: 50%;
  z-index: 2;
}
.right-panel {
  position: relative;
  flex: 1;
   z-index: 0;
}

.big-title {
  position: absolute;
  font-size: 9rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

#title .title-c {
  position: absolute;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: "white";
}


#title .title {
  /* font-family: "Basier"; */
  font-size: clamp(3rem, 8vw, 7rem);
  font-weight: 400;
  margin-bottom: 0.5%;
  margin-top: 0;
  white-space: nowrap;
  color: white;
}
#title .subtitle {
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #fff;
  width: 100%;
  opacity: .5;

}

.btn {
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  margin-top: clamp(1rem, 2vw, 2rem);
  pointer-events:all;
}
.btn-text {
  font-family: "basier";
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 400;
  color: white;
  margin-top: clamp(12px, 1vw, 18px);
  margin-bottom: clamp(12px, 1vw, 18px);
  margin-left: clamp(24px, 2vw, 36px);
  margin-right: clamp(24px, 2vw, 36px);
  pointer-events: none;
}

.right-panel {
  /* background: linear-gradient(90deg, #000000 -19.64%, rgba(0, 0, 0, 0) 56.75%);
  transform: matrix(-1, 0, 0, 1, 0, 0); */
  /* background: linear-gradient(61.64deg, #000000 1.05%, rgba(0, 0, 0, 0) 72.52%);
transform: matrix(-1, 0, 0, 1, 0, 0); */

/* background: linear-gradient(305.68deg, #000000 -3.75%, rgba(0, 0, 0, 0) 63.51%, #000000 135.68%);
transform: matrix(-1, 0, 0, 1, 0, 0); */
}
